body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  font-family: system-ui, sans-serif;
}

.container > div {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

.container {
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  color: rgb(17, 7, 166);
  font-size: 800%;
  text-align: center;
}

#message {
  color: rgb(33, 71, 21);
  font-size: large;
  font-weight: 700;
}